name: Validate PR

on:
  pull_request:
    branches: [ main ]
  push: 
jobs:
  check_formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 8.0.401
          node-version: 20
      - run: |
          dotnet --version
          dotnet tool restore
          dotnet csharpier --check .
