name: Run CSharpier

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        node-version: 20

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '8.0.401' # Specify the .NET version you are using
        node-version: 20

    - name: Install CSharpier
      run: dotnet tool install csharpier


    - name: Run CSharpier
      run: dotnet csharpier .